@model hendi.Models.ViewModels.GuestViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    @await Html.PartialAsync("Components/_GuestTable", Model.Guests)
</div>

<a asp-action="Add" class="btn btn-primary">Create</a>