@model hendi.Models.ViewModels.GuestViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    @await Component.InvokeAsync("GuestTable")

</div>

<a asp-action="Add" class="btn btn-primary">Create</a>